[Unit]
Description=Run CSAI-OCR reaper every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=ocr-reaper.service

[Install]
WantedBy=timers.target
